* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color: #AAA;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
    max-width: 33%;
    margin-bottom: 16px;
    
}

.card-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.card > h4 {
    padding: 16px;
    color: #313131;
}

.card > img:hover {
    transform: scale(1.05);
}

.top-anime {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.top-newcomer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.top-airing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.card-info {
    display: none;
}

