/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
}

h5 {
    color: #f3f1f1;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 33%;
    max-width: 33%;
    margin-bottom: 6px;
    background-color:#363636
}

.card-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.card > h4 {
    padding: 1rem;
    color: #f3f1f1;
}

.card > img:hover {
    transform: scale(1.05);
}

.top-anime {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.top-newcomer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.top-airing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.card-info {
    display: none;
} */

:root {
    --accent-clr: hsl(16, 100%, 46%);
    --secaccent-clr: hsl(16, 100%, 55%);
    --primary-clr: hsl(250, 19%, 14%);
    --secondary-clr: hsl(250, 19%, 22%);
    --text-clr: hsl(0, 0%, 100%); 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    background: var(--primary-clr);
    font-family: sans-serif;
} */

.panel {
    color: var(--text-clr);
    background-image: url(https://cdn.myanimelist.net/images/anime/1223/96541.jpg?s=faffcb677a5eacd17bf761edd78bfb3f);
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 35ch;
    border-radius: 1rem;
    overflow: hidden;

    transition: transform 500ms ease;
}

.panel:hover,
.panel:focus-within {
    transform: scale(1.05);
}

.panel-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.6) 19%,
        hsl(0 0% 0% / 1)
    );
}

.panel-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.panel-title::after {
    content: '';
    position: absolute;
    height: 3px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--accent-clr);
    
    transform-origin: left;
    transition: transform 500ms ease;
}

.panel:hover .panel-title::after,
.panel:focus-within .panel-title::after {
    transform: scaleX(1);
}

.panel-body {
    color: rgb(255, 255, 255 / 0.8);
}

.panel-btn {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--primary-clr);
    background-color: var(--accent-clr);
    padding: 0.5em 1.25em;
    border-radius: 0.5rem;
}

@media (hover) {
    .panel-content {
        transform: translateY(60%);
        transition: transform 500ms ease;
    }

    .panel:hover .panel-content,
    .panel:focus-within .panel-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .panel:focus-within .panel-content {
        transition-duration: 0ms;
    }

    .panel-content > *:not(.panel-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .panel:hover .panel-content > *:not(.panel-title),
    .panel:focus-within .panel-content > *:not(.panel-title) {
        opacity: 1;
        transition-delay: 700ms;
    }

    .panel-title::after {
        transform: scaleX(0);
    }
}

.panel-btn:hover,
.panel-btn:focus {
    background-color: var(--secaccent-clr);
}