:root {
    --first-color: #021A2E;
    --second-color: #28364A;
    --third-color: #2F4555;
    --white: #ffffff;
    --accent-color: #FF4B24;
    --accent-color-2: #3e8ed0;
}

html {
    background: var(--second-color);
}

h1.title {
    padding-top: 20px;
}

header {
    margin: 10px auto;
}

header, h1.title, p.subtitle {
    background-color: var(--second-color);
    color: var(--white);
}

a.button.is-info {
    background-color:var(--accent-color);
}

#searchbar {
    justify-content: center;
}

.columns {
    margin: auto;
}

div.column.is-full {
    background-color: var(--first-color);
}

p.has-text-centered {
    background-color: var(--accent-color);
    color:var(--white);
}

a {
    color: white;
}

#discover a:hover, #tracker a:hover {
    background-color: var(--accent-color-2);
    color: white;
    padding: 10px;
    margin: -10px;
    border-radius: 5px;
}